
#deck {
    display: none;
}


.card {
    width: 120px;
    height: 180px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-family: 'Arial', sans-serif;
    color: black;
    margin: 10px;
    transition: transform 0.2s ease-in-out;
}

.card.back {
    background-color: #1E3A5F;
}

.card:hover {
    transform: scale(1.05);
}

/* Card content positions */
.card .value {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
}

.card .top-left {
    top: 5px;
    left: 5px;
}

.card .bottom-right {
    bottom: 5px;
    right: 5px;
    transform: rotate(180deg);
}

.card .center {
    font-size: 40px;
    text-align: center;
}

.card .center.multiple {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card .center.multiple span {
    font-size: 35px;
    margin: 2px;
}


.card.hearts .value, 
.card.hearts .center,
.card.diamonds .value, 
.card.diamonds .center {
    color: red;
}


#game, .main, .deck {
    text-align: center;
    margin-top: 20px;
}

.main {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 20px;
}

.deck {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 5px;
    border: 10px solid white;
    border-radius: 20px;
    background-color: #200303;
    padding: 20px;
}


button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: rgb(107, 37, 37);
    border: 5px solid rgb(27, 11, 11);
    border-radius: 30px;
    font-weight: bold;
}


#message {
    font-size: 20px;
    font-weight: bold;
    color: red;
    margin-top: 20px;
}


body {
    color: white;
    background-color: #192e26;
}
